h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background: #eaf0f7;
  min-height: 100vh;
  min-width: 100vh;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.appContainer {
  text-align: center;
  a {
    color: #2c3c5c;
    text-decoration: none;
    font-size: 20px;
    &:hover {
      color: #5f9ea0;
      transition: 0.3s ease-in-out;
    }
  }
}

.header {
  height: 50px;
  padding: 10px 50px;
  a {
    color: #2c3c5c;
    text-decoration: none;
    font-size: 30px;
    &:hover {
      color: #5f9ea0;
      transition: 0.3s ease-in-out;
      text-decoration: overline;
    }
  }
}

.poules {
  border: 5px solid #2c3c5c;
  border-radius: 1rem;
  margin: 10px;
  min-width: 150px;
  max-width: 300px;
}

.elim {
  min-width: 150px;
  max-width: 300px;
  border: 3px solid #2c3c5c;
  margin: 20px;
  border-radius: 0.5rem;
}

.participantsList {
  width: 375px;

  input {
    margin-left: 5px;
  }

  div:nth-child(2) {
    margin-left: 5px;
  }
}

hr {
  background: #2c3c5c;
  width: 50%;
  height: 5px;
  border: none;
  border-radius: 0.25rem;
  margin: auto;
}

.hpTourContainer {
  width: 100%;

  .hpTourCard {
    margin-top: 20px;
    border-radius: 2rem;
    min-width: 200px;
    max-width: 500px;
    padding: 20px;
    border: 3px solid;
    h2,
    h4 {
      margin: 0;
      padding: 0;
    }
  }

  .hpElim {
    border-color: #0480fc;
    &:hover {
      border-color: #2c3c5c;
    }
    a {
      color: #0480fc;
      &:hover {
        color: #2c3c5c;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .hpPoules {
    border-color: #748494;
    &:hover {
      border-color: #2c3c5c;
    }
    a {
      color: #748494;
      &:hover {
        color: #2c3c5c;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.form-error {
  color: red;
  font-style: italic;
}
